.loginBtn {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(37, 165, 189);
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 200px;
    border: 1px solid gray;
    background-color: aliceblue;
    border-radius: 10px;

}

.loginContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}