.homeContainer {
    /* height: calc(100vh-70px); */
    margin: 0;
    padding: 0;
    display: flex;
    height: 92vh;
}

.content {
    background-color: rgb(233, 233, 233);
    /* width: 100%; */
    flex: 11;
    padding: 0px 20px;
}

.acceptBtn {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    margin-right: 10px;
    border: 1px solid gray;
}

.rejectBtn {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    margin-right: 10px;
    border: 1px solid gray;
}





.reportFrameView {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.reportView {
    position: relative;
    width: 90%;
    height: 90vh;
    /* padding-bottom: 56.25%; */
}