.topbarImage {
    width: 100px;
    height: 50px;
    margin-left: 10px;
}

.topbar {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    /* position: sticky; */
    top: 0;
    justify-content: space-between;
}

.topbarIconBadge {
    background-color: red;
    border-radius: 50%;

    height: 15px;
    width: 15px;
    color: white;
    position: absolute;
    top: -15%;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarItems {
    display: flex;
    margin-right: 10px;
}