.sidebar {
    /* height: 100vh; */
    /* width: 6%;  */
    background-color: rgb(37, 165, 189);
    color: white;
    flex: 1
}

.sidebarlist {
    padding: 0;
    height: auto;
    width: 100%;
}

.sidebarlist .row {
    list-style-type: none;
    margin: 0;
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.sidebarlist .row:hover {
    cursor: pointer;
    background-color: rgb(100, 197, 214);
}

.sidebarlist #active {
    background-color: rgb(44, 138, 155);

}