.inputfield {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid gray;
    background-color: rgb(244, 250, 251);
}

.dataCard {
    background-color: white;
    /* width: 100%; */
    padding: 10px 20px;
    /* border-style: ridge; */
    -webkit-box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.76);
    box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.76);

    /* flex-direction: row; */
    /* justify-content: space-between; */
}

.subnet {
    display: flex !important;
    align-items: center;
}

.createsubnet {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;

    padding: 10px 20px;
    border-style: ridge;
    -webkit-box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.76);
    box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.76);
}