/* .tabs {
    padding: 10px 0px;
    background-color: rgb(37, 165, 189);
    color: white;
    border: 1px solid rgb(37, 165, 189);
    margin-right: 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    width: 100px;
} */

.homeContainer {
    /* height: calc(100vh-70px); */
    margin: 0;
    padding: 0;
    display: flex;
    /* height: 100vh; */
}

.content {
    background-color: rgb(233, 233, 233);
    /* background-color: aqua; */
    /* width: 100%; */
    flex: 11;
    padding: 0px 20px;
    overflow: auto;
    /* position: relative; */
    /* height: auto; */
}

.contentCard {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.detailsCard {
    background-color: white;
    /* width: 100%; */
    padding: 10px 20px;
    /* border-style: ridge; */
    -webkit-box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.76);
    box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.76);

}

/* .tabs #active {
    background-color: rgb(44, 138, 155);

} */

.inputfield {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid gray;
    background-color: rgb(244, 250, 251);
}

.row {
    display: flex;
    justify-content: space-between;
}

.imageCard {
    border: 1px solid;
    width: 200px;
    height: 220px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

.imageList {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.submitBtn {
    border: none;
    padding: 7px;
    border-radius: 5px;
    /* background-color: rgb(37, 165, 189); */
    /* color: white; */
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    margin-right: 10px;
    border: 1px solid gray;
}

.previousBtn {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(201, 206, 207);
    /* color: white; */
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    /* margin-top: 20px; */
    width: 200px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid gray; */
}

.nextBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(37, 165, 189);
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    /* margin-top: 20px; */
    width: 200px;
    /* margin-right: 10px; */
}

.amifields {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amiInputfield {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid gray;
    background-color: rgb(244, 250, 251);
}

/* .MuiButtonBase-root-MuiTab-root.Mui-selected {
    background-color: brown;
    color: white;
    border-radius: 10px;
} */
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: white !important;
    background-color: rgb(21, 70, 78) !important;
    border-radius: 10px;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: transparent !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    background-color: rgb(37, 165, 189) !important;
    color: white !important;
    border-radius: 10px !important;
    margin-left: 10px !important;
    min-height: 40px !important;
}