.rightbar {
    background-color: rgb(233, 233, 233);
    /* width: 100%; */
    flex: 11;
    padding: 0px 20px;
}

.rightbarCard {
    /* width: 100%; */
    /* height: 200px; */
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.cloudconsole {
    /* padding: 20px; */
    /* margin-left: 20px; */
    /* margin-top: 20px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.searchbar {
    /* color: white; */
    border-radius: 30px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    /* background-color: rgb(201, 198, 198); */
    height: 35px;
    width: 90%;


}

.searchInput {
    border: none !important;
    /* margin-left: 20px; */
    width: 70%;
}

.searchIcon {
    margin-left: 10px;
    font-size: 20pxb !important;
}

.searchInput:focus {
    outline: none !important;
}

.tableContainer {
    margin-top: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 50px;
}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: 8px;
    /* border-radius: 10px; */
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #e7e7e7;
    /* color: white; */
}

.table tr {
    text-align: center;
}

.table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.createBtn {
    color: white;
    background-color: rgb(37, 165, 189);
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(37, 165, 189);
    font-size: 16px;
    font-weight: 500;
}

.searchbarflex {
    display: flex;
    width: 100%;
}

.instanceState {
    background-color: rgb(221, 240, 251);
    padding: 10px 20px;
    border: 1px solid rgb(183, 203, 214);


}

.instanceState1 {
    /* background-color: rgb(221, 240, 251); */
    padding: 10px 20px;
    border: 1px solid rgb(183, 203, 214);
    margin-left: 20px;

}

.ec2table {
    width: 100%;
    border-collapse: collapse;

}

.ec2table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #e7e7e7;
}

.arrowfilter {
    display: flex;
    justify-content: center;
}

.ec2table tr {
    text-align: center;
}

.ec2table td,
.ec2table th {
    border: 1px solid #ddd;
    padding: 8px;
    /* border-radius: 10px; */
}